.cell {
    border: 1px solid rgb(221, 216, 216);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row_button{
  margin-bottom: 5px;
}
.row_class{
    background-color: rgb(221, 216, 216);
    margin-bottom: 10px;
}


.heading{
    font-weight: 700;
    color: black;
    font-size: 20px;
    background-color: rgb(218, 213, 213);
    }
    
    .col-margin{
    margin:15px;
    }